
.footer{
    text-align: center;
    background-color: $bg-color1;
    color:$txt-color;
    min-height:30px;
    padding: 15px;
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-bottom: 15px;
       li{
           list-style: none;
       }
    }
    .usercons{
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;
    }
    .copy{
        padding: 15px;
    }
}