.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 55px;
  background-color: crimson;
  color: white;
}
.logo {
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 75%;
  padding: 20px;
  color: white;
}

.nav-links1{
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}
.burger-menu {
  display: none;
}

@media screen and (max-width: 480px){
  .logo{
    display: flex;
    position: absolute;
    top: 15px;
    left: 35px;
  }
  .nav-links{
    display: none;
  }
  .nav-links-mobile{
    position: absolute;
    display: block;
    left: 0;
    top:50px;
    width: 100%;
    color: white;
  }

  .burger-menu{
    display: block;
    position: absolute;
    top: 9px;
    right: 25px;
    font-size: 30px;
    color: white;
    border: none;
    outline: none;
    background-color:crimson;
  }
  .nav-links1{
    text-align: center;
    color: white;
    padding: 32px;
    list-style: none;
    width: 100%;
  }
  .burger-menu{
    display: block;
    position: absolute;
    font-size: 30px;
    border: none;
  }
}