.about-container {
  font-family: $main-font;
  .img-landing {
    height: 400px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/images/about.jpg");
    border-bottom: 2px solid red;
    @include img-format;
    color: #f4f4f4;
    font-size: 18px;
    text-align: center;
    .about-intro {
      position: relative;
      top: 43%;
      right: 20%;
      p {
        font-size: 50px;
      }
    }
  }
  h1 {
    padding-top: 15px;
  }
}


.school-info {
  min-height: 800px;
  text-align: center;
  line-height: 1.6;
  .about-section {
    @include flex-setup;
    padding-top: 20px;
    .pic {
      height: 400px;
      width: 400px;
      background: url("/images/about-univ.jpg");
      @include img-format;
    }
    .about-para {
      width: 400px;
      padding: 20px;
    }
  }
  .about-statement {
    @include flex-setup;
    .mission-para {
      width: 400px;
      padding: 10px;
    }
    .school-logo {
      height: 400px;
      width: 400px;
      background: url("/images/logo.jpg");
      @include img-format;
    }
  }
}

@include mobile-device(mobile-md) {
  .about-container {
    .about-intro {
      left: 1%;
    }
  }
  .school-info {
    .about-section {
      @include grid-setupMobile;
      .pic {
        width: 300px;
      }
      .about-para {
        text-align: center;
        width: 250px;
      }
    }
    .about-statement {
      @include grid-setupMobile;
      .school-logo {
        width: 300px;
        margin-bottom: 10px;
      }
      .mission-para {
        text-align: center;
        width: 250px;
      }
    }
  }
}
@include mobile-device-lg(mobile-lg, tablet-sm) {
  .about-container {
    .about-intro {
      left: 1%;
    }
  }
  .school-info {
    .about-section {
      @include grid-setupMobile;
    }
    .about-statement {
      @include grid-setupMobile;
      .school-logo {
        margin: 10px;
      }
    }
  }
}
@include tablet-device(tablet-sm, tablet-md) {
  .about-container {
    .about-intro {
      left: 1%;
    }
  }
  .school-info {
    .about-section {
      @include grid-setupMobile;
    }
    .about-statement {
      @include grid-setupMobile;
      .school-logo {
        margin: 10px;
      }
    }
  }
}
