.about-container {
  font-family: "Quicksand", sans-serif;
  .img-landing {
    height: 400px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/images/about.jpg");
    border-bottom: 2px solid red;
    @include img-format;
    color: #f4f4f4;
    font-size: 18px;
    text-align: center;
    .about-intro {
      position: relative;
      top: 43%;
      right: 20%;
      p {
        font-size: 50px;
      }
    }
  }
}
.keme {
  height: 40px;
  background-color: red;
}

.about-about {
  @include flex-setup2;
  gap: 20px;
  .text1,
  p {
    text-align: center;
    width: 400px;
  }
  .text2,
  p {
    text-align: center;
    width: 400px;
  }
}
.school-info {
  min-height: 800px;
  text-align: center;
  line-height: 1.6;

  .about-section {
    @include flex-setup;
    padding-top: 20px;
    .pic {
      @include box;
      background: url("/images/about-univ.jpg");
      @include img-format;
    }
    .about-para {
      width: 400px;
      padding: 20px;
    }
  }
  .about-statement {
    @include flex-setup;
    .mission-para {
      width: 400px;
      padding: 20px;
    }
    .school-logo {
      @include box;
      background: url("/images/logo.jpg");
      @include img-format;
    }
  }
}

@include mobile-device(mobile-sm) {
  .about-container {
    .img-landing {
      .about-intro {
        left: 1%;
      }
    }
  }
  .school-info {
    .about-section {
      @include flex-setup2;
      .pic {
        @include box;
        width: 270px;
      }
      .about-para {
        text-align: center;
        width: 260px;
      }
    }
    .about-statement {
      @include flex-setup2;
      .mission-para {
        text-align: center;
        width: 260px;
      }
    }
  }
}
