.grad-container {
  font-family: 'Quicksand', Arial, sans-serif;
@include container;
  .grad-courses {
    .masters,
    .doctoral{
      padding: 20px;
      height: 400px;
      font-size: 15px;
    }
    ul {
      display: inline-block;
      text-align: left;
      padding: 20px;
      li {
        padding: 12px;
      }
    }
  }
}
.grad-pic{
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("/images/gradschool.jpg");
  @include img-format;
  .grad-prog{
    height: 400px;
    display: grid;
    justify-content: center;
    align-items: center;
    color: $txt-color;
    text-transform: uppercase;
  }
}
