@mixin flex-setup{
    display: flex;
    justify-content: center;
    gap: 15px;
}

@mixin grid-setup {
    display: grid;
    justify-content: center;
}
@mixin box{
    height: 300px;
    width: 450px;
}

@mixin img-format{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}