@mixin flex-setup{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
}

@mixin flex-setup2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
@mixin grid-setup {
    display: grid;
    justify-content: center;
}
@mixin grid-setup2 {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1,auto);
}

@mixin grid-setup3 {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,auto);
}


@mixin grid-setupMobile{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1,auto);
}
@mixin box{
    height: 300px;
    width: 500px;
}

@mixin img-format{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin container {
    min-height: 850px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}